# Prerequisites
*.d

# Object files
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a

# Executables
*.exe
*.out

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Extra
._*
.DS_Store
.vscode/
*.gen
fractol
